<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kinde - Django example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header>
            <nav class="nav container">
                <h1 class="text-display-3">Kinde Django!</h1>
                {% if not authenticated %}
                <div class="js-logged-out-view">
                    <a id="login" class="btn btn-ghost sign-in-btn" href="/kinde_login/login?next=other">
                        Sign in
                    </a>
                    <a id="register" class="btn btn-dark" href="/kinde_login/register">
                        Sign up
                    </a>
                </div>
                {% endif %}
        </header>

        <main>
            <div class="container">
                {% if not authenticated %}
                <div class="js-logged-out-view">
                    <div class="card hero">
                        <p class="text-display-1 hero-title">
                            That other page
                        </p>
                        <p class="text-body-1 hero-tagline">Let's start authenticating <br />
                            with Kinde</p>

                        <a
                            href="https://kinde.com/docs/developer-tools/python-sdk/"
                            target="_blank"
                            rel="noreferrer"
                            class="btn btn-light btn-big"
                        >
                            Go to docs
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="js-logged-in-view">
                    <div class="card start-hero">
                        <p class="text-body-2 start-hero-intro">Other Page!</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <strong class="text-heading-2">Kinde</strong>
                <p class="footer-tagline text-body-3">
                    Visit our
                    <a class="link" href="https://kinde.com/docs"> help center </a>
                </p>

                <small class="text-subtle"> © 2024 Kinde Django! </small>
            </div>
        </footer>
    </body>
</html>